<div class="big-card__container">

  <div class="big-card-informations">
      <div class="big-card-title__container">
          <h2>
              {{ articleTitle }}
          </h2>
      </div>

      <div class="big-card-description__container">
          <p>
            {{articleDescription}}
          </p>
      </div>

      <div class="big-card-data__container">
         <p>
          {{articleData}}
         </p>
      </div>
  </div>


  <div class="big-card-image__container">
      <img src="https://images.unsplash.com/photo-1688934150111-ab9a5d327087?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80" alt="">
  </div>
</div>


