<div class="stretched-card__container">

    <div class="stretched-card-informations">
        <div class="stretched-card-title__container">
            <h2>
                {{new.title}}
            </h2>
        </div>

        <div class="stretched-card-description__container">
            <p>
               {{new.description}}
            </p>
        </div>

        <div class="stretched-card-data__container">
           <p>
            {{new.publishedAt}}
           </p>
        </div>
    </div>


    <div class="stretched-card-image__container">
        <img src="{{new.urlToImage}}" alt="">
    </div>
</div>


