.search__container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0%;
}

.small-card__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    padding-bottom: 3rem;


  }

@media screen and (min-width: 1200px) {
    .search__container {
        display: flex;
        padding: 10rem 0%;
    }

    .small-card__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3rem;
        width: 100%;
        column-gap: 3rem;
    
      }
}