
<div class="small-card__container">
  <a href={{new.link}} target="_blank" class="small-card-link__container">

    <div class="small-card-image__container">
        <img src={{new.image_url}} alt="">
    </div>

    <div class="small-card-informations">

        <div class="small-card-title">
            <h2>
                {{new.title}}
            </h2>
        </div>

        <div class="small-card-descriptions">
            <p>
                {{new.description}}
            </p>
        </div>

        <div class="small-card-data__container">
            <p>
                {{new.pubDate}}
            </p>
        </div>
    </div>
</a>
</div>
