<div class="home__container">


  <header>
    <app-header></app-header>
  </header>

  <main  >

    <div class="filter__container">
      <h2 class="filter-title">Categoria das Noticias:</h2>

      <select class="filter-select" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
        <option value="technology" selected>Tecnologia</option>
        <option value="sports">Esportes</option>
        <option value="entertainment">Entretenimento</option>
        <option value="politics">Política</option>
        <option value="science">Ciência</option>
        <option value="health">Saúde</option>
        <option value="world">Mundo</option>
        <option value="business">Negócios</option>
      </select>
    </div>

    <section class="small-card__container" >
      <app-small-card class="small-card" *ngFor="let new of newsDisplayed" [new]="new"></app-small-card>
    </section>

    <div *ngIf="isLoading" class="loader__container">
      <app-loader></app-loader>
    </div>

    <div class="more-news__container">
      <button class="more-news-button" *ngIf="nextPage != null" (click)="moreNews()">Veja Mais
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
      </button>

      <button class="more-news-information-button" *ngIf="nextPage == null">Todas as Noticias Recentes já foram mostradas</button>
    </div>
  </main>



  <footer class="footer__container">
    <app-footer></app-footer>
  </footer>


</div>
