main {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.small-card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-auto-flow: row;
  row-gap: 1.4rem;
}

.small-card {
  width: 100%;
}

.more-news__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more-news-button {
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.3rem;
  border: none;
  border-radius: 1rem;
  background-color: #573D06;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;

  cursor: pointer;
  transition: 200ms;
}

.more-news-button:hover {
  transform: scale(1.05);
}

.more-news-button > svg {
  width: 2rem;
  fill: white;
}

.more-news-information-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.3rem;
  border: none;
  border-radius: 1rem;
  background-color: #573D06;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.footer__container {
  margin-top: 2rem;
}




@media screen and (min-width:1200px) {

  main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .small-card__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-auto-flow: row;
    row-gap: 3rem;

  }

  .small-card {
    width: 100%;
  }

  .more-news__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  .more-news-button {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #573D06;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;

    cursor: pointer;
    transition: 200ms;
  }

  .more-news-button:hover {
    transform: scale(1.05);
  }

  .more-news-button > svg {
    width: 2rem;
    fill: white;
  }

  .more-news-information-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #573D06;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
  }

  .footer__container {
    margin-top: 2rem;
  }



}
