main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.filter-title {
  font-size: 1.78rem;
  color: #263238;
}

.filter-select {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #573D06;
  background-image: url('../../../assets/images/arrow-down-sign-to-navigate.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-size: 2rem;
  appearance: none;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

.small-card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-auto-flow: row;
  row-gap: 2.3rem;
}

.small-card {
  width: 100%;
}

.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.more-news__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more-news-button {
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.3rem;
  border: none;
  border-radius: 1rem;
  background-color: #573D06;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;

  cursor: pointer;
  transition: 200ms;
}

.more-news-button:hover {
  transform: scale(1.05);
}

.more-news-button > svg {
  width: 2rem;
  fill: white;
}

.more-news-information-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.3rem;
  border: none;
  border-radius: 1rem;
  background-color: #573D06;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.footer__container {
  margin-top: 2rem;
}




@media screen and (min-width:1200px) {

  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .filter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
    flex-direction: row;
    margin-top: 0rem;
  }

  .filter-title {
    font-size: 2.7rem;
    color: #263238;
  }

  .filter-select {
    display: flex;
    padding: 1.5rem;
    width: 20rem;
    border: none;
    border-radius: 1rem;
    background-color: #573D06;
    background-image: url('../../../assets/images/arrow-down-sign-to-navigate.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
    background-size: 2rem;
    appearance: none;
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    cursor: pointer;
  }

  .filter-select > option {
    font-size: 1.6rem;
  }

  .small-card__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-auto-flow: row;
    row-gap: 3rem;

  }

  .small-card{
    width: 100%;
    padding: 1rem;
  }

  .small-card:nth-child(3n) {
    padding-right: 0;
  }

  .small-card:nth-child(3n - 2) {
    padding-left: 0;
  }

  .more-news__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  .more-news-button {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #573D06;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;

    cursor: pointer;
    transition: 200ms;
  }

  .more-news-button:hover {
    transform: scale(1.05);
  }

  .more-news-button > svg {
    width: 2rem;
    fill: white;
  }

  .more-news-information-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #573D06;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
  }

  .footer__container {
    margin-top: 2rem;
  }



}
